.custom-our-mission-sub{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.photo-gallery-slider-card{
    width: 374px !important;
}
.photo-gallery-img{
    height: 15rem !important;
}