/* .story-title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    bottom: 0;
    left:45%;
    top: 40px;
    background-color: #3ebd88;
    visibility: visible;
}
.stories-slider-img{
    height: 300px !important;
} */