.quick-links-div {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding-left: 4% !important;
}
.footer-padding {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
}
.footer-bottom-background {
  background-color: #f68633;
}
.footer-logos {
  margin-top: 2rem;
  color: #f68633;
  padding: 0.5rem;
  font-size: 3rem;
  border: 2px solid #f68633;
  border-radius: 10px;
}
.fotter-bottom-text {
  font-size: 16px;
  line-height: 45px;
  font-weight: 500;
  color: white;
}
.custom-footer-text {
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
}
.footer-center-list {
  font-size: 25px;
  font-weight: 500;
}
.quick-links-list {
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
}
.input-sub-bar {
  height: 55px;
}
.fotter-right-section {
  padding-left: 5% !important;
  font-size: 25px;
  font-weight: 500;
}
.custom-badge-footer {
  font-size: 0.75rem !important;
  font-family: "Inter", serif;
  font-weight: 400 !important;
  letter-spacing: 5px;
  color: rgb(255, 255, 255) !important;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 0px !important;
  padding: 8px !important;
}
