.card-content{
    height: 200px !important;
}
.home-nav-card:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    bottom: 0;
    left:35%;
    top: 50px;
    background-color: #3ebd88;
    visibility: visible;
}