ul.dropdown-menu.custom-dropdown-menu.show {
  border: none;
  border-radius: 0px;
  top: 65px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}
.custom-dropdown-item {
  padding: 50px 50px;
  transition: background-color 0.3s ease;
}
.custom-dropdown-item:hover {
  background-color: #f1f1f1;
}
a.dropdown-item.custom-dropdown-item {
  padding: 10px;
  padding-left: 15px;
}
