ul.dropdown-menu.custom-dropdown-menu.show {
  border: none;
  border-radius: 0px;
  top: 63px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: rgb(255, 255, 255);
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: rgba(246, 135, 51, 0.603) !important;
}
a.dropdown-item.custom-dropdown-item {
  padding: 10px;
  padding-left: 15px;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #000000 !important;
}
a.dropdown-item.custom-dropdown-item:hover {
  background-color: rgba(246, 135, 51, 0.603) !important;
}
.dropdown-item {
  font-size: 18px;
  font-weight: 400;
}
a.nav-link {
  color: white;
  font-size: larger;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
a.nav-link.active {
  color: white !important;
  border-bottom: 1px solid white !important;
}
a.nav-link:hover {
  color: white;
}
a#navbarDropdownInvolved,
a#Our\ Programmes {
  color: white !important;
}
/* @media (max-width: 767px) {
  .atal-logo-header {
    height: 60px;
    margin: 0 auto;
  }

  .navbar-toggler {
    margin-left: 0;
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    margin-left: 0;
    text-align: center;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }

  .dropdown-menu {
    width: 100%;
    box-shadow: none;
  }

  .custom-dropdown-item {
    padding: 10px;
  }

  .custom-dropdown-menu {
    top: auto !important;
    left: 0;
    right: 0;
  }

  .navbar-toggler-icon {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 768px) {
  .atal-logo-header {
    height: 90px;
  }

  .nav-item {
    margin-left: 0.5rem;
  }
}
 */
