.gallery-imgs-description,
.gallery-video-description {
  width: 60%;
}
.gallery-img-1,
.gallery-img-6 {
  height: 350px;
}
.gallery-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For smaller screens, allow images to take their natural height */
@media (max-width: 768px) {
  .gallery-imgs .col {
    height: auto;
  }
  .gallery-imgs-description,
  .gallery-video-description {
    width: 100%;
  }
}
