@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
input:focus {
  box-shadow: none !important;
  border-color: inherit !important;
  outline: none !important;
}
button:focus {
  box-shadow: none !important;
  border-color: inherit !important;
  outline: none !important;
}
.btn-primary {
  font-family: "Inter", serif;
  font-weight: 400;
  background-color: #f68633 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.container {
  max-width: 85% !important;
}
.heading-font {
  font-family: "Frank Ruhl Libre", serif;
}
.custom-badge {
  font-size: 0.75rem !important;
  font-family: "Inter", serif;
  font-weight: 400 !important;
  letter-spacing: 5px;
  color: black !important;
  border: 0.5px solid black;
  border-radius: 0px !important;
  padding: 8px !important;
}
.custom-breadcrumb-item:not(.active)::after {
  content: " /";
}
.custom-breadcrumb-item:not(.active) {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}
.custom-breadcrumb-item {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}
.pages-banner-img {
  height: 26.375rem;
}
.text-warning-color {
  color: #f68633;
}
.custom-subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
.custom-heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}
.custom-button {
  width: 180px;
  height: 45px;
  font-weight: 500;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #f68633;
}
@media (max-width: 768px) {
  .pages-banner-img {
    height: 10rem;
  }
}
