@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
input:focus {
  box-shadow: none !important;
  border-color: inherit !important;
  outline: none !important;
}
button:focus {
  box-shadow: none !important;
  border-color: inherit !important;
  outline: none !important;
}
.btn-primary {
  font-family: "Inter", serif;
  font-weight: 400;
  background-color: #f68633 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.heading-font {
  font-family: "Frank Ruhl Libre", serif;
}
.custom-badge {
  font-size: 0.75rem !important;
  font-family: "Inter", serif;
  font-weight: 400 !important;
  letter-spacing: 5px;
  color: black !important;
  border: 0.5px solid black;
  border-radius: 0px !important;
  padding: 8px !important;
}

.pages-banner-img {
  height: 26.375rem;
}
.text-warning-color {
  color: #f68633;
}
.top-border{
  border-top: 2px solid #f68633;
}
.custom-button {
  width: 180px;
  height: 45px;
  font-weight: 500;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #f68633;
}
/* Custom Breadcrumb */
.custom-breadcrumb-item:not(.active)::after {
  content: " /";
}
.custom-breadcrumb-item {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}
.custom-breadcrumb-item:not(.active) {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}
@media (max-width: 576px) {
  .custom-breadcrumb-item {
    font-size: 18px;
    line-height: 30px;
  }

  .custom-breadcrumb-item:not(.active) {
    font-size: 22px;
    line-height: 35px;
  }
}
@media (max-width: 768px) {
  .custom-breadcrumb-item {
    font-size: 24px;
    line-height: 40px;
  }

  .custom-breadcrumb-item:not(.active) {
    font-size: 30px;
    line-height: 45px;
  }
}

@media (max-width: 1024px) {
  .custom-breadcrumb-item {
    font-size: 26px;
    line-height: 45px;
  }

  .custom-breadcrumb-item:not(.active) {
    font-size: 35px;
    line-height: 50px;
  }
}

@media (max-width: 768px) {
  .pages-banner-img {
    height: 10rem;
  }
}
/* Loading */
.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #f68633;
  border-right-color: #f6d233;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


.spinner {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #f68633; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 25vh;
  margin-left: 50%;
  margin-bottom: 25vh;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Fade Animation */
.App {
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s; 
  -o-animation: fadein 1s; 
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-subtitle {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
}

.custom-heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

/* Media Queries for Responsiveness */
@media (width: 810px) and (height: 1080px) {
  .custom-subtitle {
    font-size: calc(0.9rem + 0.1vw);
    line-height: 26px;
  }

  .custom-heading {
    font-size: 32px;
    line-height: 50px;
  }
}
@media (width: 1280px) and (height: 720px) {
  .custom-subtitle {
    font-size: calc(0.95rem + 0.12vw);
    line-height: 27px;
  }
  img.atal-logo-header.me-2 {
    height: 80px;
  }
  a.nav-link {
    font-size: 15px;
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .custom-heading {
    font-size: 36px;
    line-height: 55px;
  }
}

@media (width: 1366px) and (height: 768px) {
  .custom-subtitle {
    font-size: calc(1rem + 0.1vw);
    line-height: 28px;
  }
  img.atal-logo-header.me-2 {
    height: 80px;
  }
  a.nav-link {
    font-size: 20px;
  }
  .custom-heading {
    font-size: 38px;
    line-height: 58px;
  }
}

@media (width: 1440px) and (height: 900px) {
  .custom-subtitle {
    font-size: calc(1rem + 0.1vw);
    line-height: 28px;
  }

  .custom-heading {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (width: 1536px) and (height: 864px) {
  .custom-subtitle {
    font-size: calc(1rem + 0.1vw);
    line-height: 28px;
  }

  .custom-heading {
    font-size: 42px;
    line-height: 62px;
  }
}

@media (width: 1600px) and (height: 900px) {
  .custom-subtitle {
    font-size: calc(1rem + 0.1vw);
    line-height: 28px;
  }

  .custom-heading {
    font-size: 44px;
    line-height: 64px;
  }
}

@media (width: 1920px) and (height: 1080px) {
  .custom-subtitle {
    font-size: calc(1rem + 0.1vw);
    line-height: 28px;
  }
  img.atal-logo-header.me-2 {
    height: 110;
  }
  a.nav-link {
    font-size: 20px;
  }
  .custom-heading {
    font-size: 46px;
    line-height: 66px;
  }
}

@media (width: 2560px) and (height: 1440px) {
  .custom-subtitle {
    font-size: calc(1rem + 0.1vw);
    line-height: 28px;
  }
  img.atal-logo-header.me-2 {
    height: 85px;
}
  a.nav-link {
    font-size: 22px !important;
  }
  h3.fw-bold.fs-1.heading-font.w-75 {
    font-size: 65px !important;
  }
  .fw-light.fs-6.lh-lg {
    font-size: 25px !important;
  }
  .custom-heading {
    font-size: 45px;
    line-height: 50px;
  }
}
p,ul {
   margin-bottom: 5px !important;
}
.Toastify__progress-bar--success {
  background: #f68633 !important;
}